<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908240649876-57fr86lse3jcvr0ur3rbci2rkdp6f5of.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908240649876-57fr86lse3jcvr0ur3rbci2rkdp6f5of</string>
	<key>API_KEY</key>
	<string>AIzaSyDQT2pl7QsqTSLcjgjPMiZ5mUzWzeRl7JA</string>
	<key>GCM_SENDER_ID</key>
	<string>908240649876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JoelWolinsky.RealMusic</string>
	<key>PROJECT_ID</key>
	<string>realmusic-65b96</string>
	<key>STORAGE_BUCKET</key>
	<string>realmusic-65b96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908240649876:ios:82f07371c2dec5b9273e81</string>
</dict>
</plist>